$purple: #9356DC;
$pink: #FF79DA;
$mint: #99E2D0;


@font-face {
    font-family: 'Roboto-Regular';
    src: url(../font/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-Light';
    src: url(../font/Roboto-Light.ttf);
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url(../font/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Shrikhand';
    src: url(../font/Shrikhand-Regular.ttf);
}

@keyframes appear {
    0% {
        transform: translateY(-5px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.appear_1 {
    animation: 1s 0.5s appear;
    animation-fill-mode: forwards;
}

.appear_2 {
    animation: 1s 750ms appear;
    animation-fill-mode: forwards;
}

.appear_3 {
    animation: 1s 1s appear;
    animation-fill-mode: forwards;
}

.img_resto {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 30% 50%;
}
  
body {
    max-width: 760px;
    margin: auto;
    font-family: 'Roboto-Regular';
}

.logoPage {
    font-family: 'Shrikhand';
    font-size: 1.6em;
    position: absolute;
    top: -8px;
}

.headerAlign {
    position: relative;
    display: flex;
    justify-content: center;
}



.headerPage {
    height: 50px;
    width: 100%;
    background-color: white;
}

.fa-arrow-left {
    color: rgb(65, 65, 65);
    position: absolute;
    left: 20px;
    top: 18px;
    &:hover {
        color: $pink;
    }
}

.main_bloc {
    background-color: #EEEEEE;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: -60px;
    position: relative;
    z-index: 200;
}

.btn {
    background-image: linear-gradient(to bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
    border-radius: 30px;
    font-size: 0.8em;
    color: white;
    border: none;
    padding: 15px;
    box-shadow: 0px 10px 23px -15px black ;
    font-family: 'Roboto-Bold';
    font-weight: normal;
    &:hover {
		filter: brightness(1.1);
		box-shadow: 10px 10px 23px -1px rgba(0,0,0,0.20);
	}
}

.bloc_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin-top: -15px;
    padding-bottom: 20px;
}

.resto_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 20px;
    padding-top: 5px;
}

.bigTitle {
    font-family: 'Shrikhand';
    font-size: 1.5em;
}

.heart {
    font-size: 1.2em;
}

.menu_title {
    color: rgb(65, 65, 65);
    font-size: 1.1em;
    margin-left: 15px;
    font-family: 'Roboto-Light';
    display: flex;
}

.underline {
    text-decoration: underline 3px $mint;
    text-underline-position: under;
}

.all_repas {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
}

.menu_container {
    opacity: 0;
}

.plat {
    background-color: #fff;
    box-shadow: 0px 10px 20px -10px rgb(194, 194, 194) ;
    border-radius: 15px;
    margin-bottom: 15px;
    width: 96%;
    min-height: 70px;
    max-height: 70px;
    position: relative;
    overflow: hidden;
    &:hover{
        .fa-check-circle {
            transform: rotate(1turn);
            transition: transform 600ms ease-in-out;
        }
        .checkCircle {
            opacity: 1;
            transform: translateX(-80%);
            transition: transform 450ms ease-in-out;
        }
        .price {
            transform: translateX(-370%);
            transition: transform 550ms ease-in-out;
        }

        .support{
            width: 60%;
            transition: transform 1s ease-in;
        }

        .alignement h3 {
            width: 75%;
            transition: transform 1s ease-in;
        }
    }
}

.plat h3, .plat .support {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.checkCircle {
    margin-right: 0px;
    opacity: 0;
    width: 20%;
	height: 100px;
	background-color: $mint;
    font-size: 1.6em;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 330ms ease-in-out;
    position: absolute;
    top: -40px;
    right: -20%;
}

.fa-check-circle::before {
    content: "\f058";
    font-weight: bold;
    color: white;
}

.plat h3 {
    font-size: 1em;
    font-family: 'Roboto-Bold';
    font-weight: normal;
    margin-top: 15px;
}

.support {
    font-family: 'Roboto-Light';
    font-size: 0.9em;
}

.alignement {
    margin-left: 7px;
}

.text_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -25px;
    margin-right: 10px;
    position: relative;
    z-index: 150;
}

.price {
    font-family: 'Roboto-Bold';
    font-weight: normal;
    font-size: 0.8em;
}

footer {
    color: white;
    background-color: rgb(65, 65, 65);
    padding-top: 20px;
}

.logoDesign {
    font-family: 'Shrikhand';
    font-size: 1em;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 15px;
}

.footer_list {
    margin-left: 20px;
    justify-content: space-between;
    padding-bottom: 20px;
}

.marginLine {
    font-size: 0.8em;
}

.fa-utensils {
    font-size: 0.8em;
    padding-right: 5px;
}

.fa-hands-helping {
    font-size: 0.65em;
    padding-right: 2.5px;
}

.footer_list, .all_resto {
    flex-direction: column;
}

.footer_list a {
    text-decoration: none;
    color: white;
}

@media screen and (min-width: 1024px) {
    body {
        max-width: 1400px;
        margin: auto;
    }

    .logoPage {
        font-size: 2em;
        top: -18px;
    }

    .fa-arrow-left {
        font-size: 1.5em;
        margin-left: 20px;
        top: 13px;
    }

    .resto_title {
        flex-direction: column;
        font-size: 1.6em;
    }

    .menu_title {
        font-size: 1.6em;
    }

    .all_repas {
        justify-content: space-around;
        flex-flow: row wrap;
    }

    .plat {
        width: 400px;
        margin-top: 30px;
        &:hover, &:active {
            .support {
                width: 90%;
            }
        }
    }
}