$purple: #9356DC;
$pink: #FF79DA;
$mint: #99E2D0;


@font-face {
    font-family: 'Roboto-Regular';
    src: url(../font/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-Light';
    src: url(../font/Roboto-Light.ttf);
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url(../font/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Shrikhand';
    src: url(../font/Shrikhand-Regular.ttf);
}
@keyframes textCut {
    from {
        width: 100%;
    }
    to {
        width: 68%;
    }
}

@keyframes titleCut {
    from {
        width: 100%;
    }
    to {
        width: 75%;
    }
}

@keyframes appear {
    0% {
        transform: translateY(-5px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.appear_1 {
    animation: 1s 0.5s appear;
    animation-fill-mode: forwards;
}

.appear_2 {
    animation: 1s 750ms appear;
    animation-fill-mode: forwards;
}

.appear_3 {
    animation: 1s 1s appear;
    animation-fill-mode: forwards;
}

.img_resto {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 30% 50%;
}
  
body {
    max-width: 760px;
    margin: auto;
    font-family: 'Roboto-Regular';
}

.logoPage {
    font-family: 'Shrikhand';
    font-size: 1.6em;
    position: absolute;
    top: -8px;
}

.headerAlign {
    position: relative;
    display: flex;
    justify-content: center;
}



.headerPage {
    height: 50px;
    width: 100%;
    background-color: white;
}

.fa-arrow-left {
    color: rgb(65, 65, 65);
    position: absolute;
    left: 250px;
    top: 18px;
    transition: 750ms ease-in-out;
    &:hover {
        color: $pink;
    }
    &:active {
        transform: rotate(8turn) scale(15);
    }
}

.main_bloc {
    background-color: #EEEEEE;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: -60px;
    position: relative;
    z-index: 200;
}

.cardHeart {
    position: relative;
}

.fa-heart {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0px;
    top: 0px;
    font-size: 1.5em;
    transition: opacity 700ms ease-out;
    cursor: pointer;
    font-size: 25px;
}

.heartFull::before{
    opacity: 0;
    content:  "\f004";
    transition: opacity 700ms ease-out;
    font-weight: bold;
    background: linear-gradient(180deg, #9356DC 0%, #FF79DA 100%);
    background-clip: border-box;
	font-variant: normal;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.heart{
    &:hover,
    &:active {
        .heartFull::before{
            opacity: 1;
        }
        .heartEmpty {
            opacity: 0;
        }
    }
}

.btn {
    background-image: linear-gradient(to bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
    border-radius: 30px;
    font-size: 0.8em;
    color: white;
    border: none;
    padding: 15px;
    box-shadow: 0px 10px 23px -15px black ;
    font-family: 'Roboto-Bold';
    font-weight: normal;
    transition: 500ms ease-in-out;
    &:hover {
		filter: brightness(1.1);
		box-shadow: 10px 10px 23px -1px rgba(0,0,0,0.20);
	}
    &:active {
        animation: 500ms appear;
        animation-fill-mode: forwards;
    }
}

.bloc_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin-top: -15px;
    padding-bottom: 20px;
}

.resto_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 20px;
    padding-top: 5px;
}

.bigTitle {
    font-family: 'Shrikhand';
    font-size: 1.5em;
}

.heart {
    font-size: 1.2em;
}

.menu_title {
    color: rgb(65, 65, 65);
    font-size: 1.1em;
    margin-left: 15px;
    font-family: 'Roboto-Light';
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.underline {
    text-decoration: underline 3px $mint;
    text-underline-position: under;
}

.all_repas {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
}

.menu_container {
    opacity: 0;
}

.plat {
    background-color: #fff;
    box-shadow: 0px 10px 20px -10px rgb(194, 194, 194) ;
    border-radius: 15px;
    margin-bottom: 15px;
    width: 96%;
    min-height: 70px;
    max-height: 70px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    &:hover, 
    &:active,
    &:focus {
        .fa-check-circle {
            transform: rotate(1turn);
            transition: transform 600ms ease-in-out;
        }
        .checkCircle {
            transform: translateX(-110%);
        }

        .support{
            animation: 750ms ease-in-out textCut;
            animation-fill-mode: forwards;
        }

        .alignement h3 {
            animation: 700ms ease-in-out titleCut;
            animation-fill-mode: forwards;
        }
    }
}


.plat h3, .plat .support {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.checkCircle {
    margin-right: 0px;
    width: 25%;
	height: 100px;
	background-color: $mint;
    font-size: 1.6em;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 750ms ease-in-out;
    position: absolute;
    top: -15px;
    right: -30%;
}

.fa-check-circle::before {
    content: "\f058";
    font-weight: bold;
    color: white;
    position: relative;
    right: 1.5px;
}

.plat h3 {
    font-size: 1em;
    font-family: 'Roboto-Bold';
    font-weight: normal;
    margin-top: 15px;
}

.support {
    font-family: 'Roboto-Light';
    font-size: 0.9em;
    width: 100%;
}

.alignement {
    margin-left: 7px;
}

.text_row {
    display: flex;
    margin-top: -25px;
    margin-right: 10px;
}

.price {
    font-family: 'Roboto-Bold';
    font-weight: normal;
    font-size: 0.8em;
    padding: 5px;
}

footer {
    color: white;
    background-color: rgb(65, 65, 65);
    padding-top: 20px;
}

.logoDesign {
    font-family: 'Shrikhand';
    font-size: 1em;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 15px;
}

.footer_list {
    margin-left: 20px;
    display: flex;
    padding-bottom: 20px;
}

.marginLine {
    font-size: 0.8em;
}

.fa-utensils {
    font-size: 0.8em;
    padding-right: 5px;
}

.fa-hands-helping {
    font-size: 0.65em;
    padding-right: 2.5px;
}

.footer_list, .all_resto {
    flex-direction: column;
}

.footer_list a {
    text-decoration: none;
    color: white;
    transition: 550ms ease-in-out;
    &:hover,
    &:active {
        color: $pink;
    }
}

@media screen and (min-width: 1024px) {
    body {
        max-width: 1400px;
        margin: auto;
    }

    .logoPage {
        font-size: 2em;
        top: -18px;
    }

    .fa-arrow-left {
        font-size: 1.5em;
        margin-left: 20px;
        top: 13px;
    }

    .resto_title {
        flex-direction: column;
        font-size: 1.6em;
    }

    .menu_title {
        font-size: 1.6em;
        justify-content: center;
    }

    .all_repas {
        justify-content: space-around;
        flex-flow: row wrap;
    }

    .plat {
        width: 400px;
        margin-top: 30px;
    }
}