@font-face {
  font-family: 'Roboto-Regular';
  src: url(../font/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Roboto-Light';
  src: url(../font/Roboto-Light.ttf);
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url(../font/Roboto-Bold.ttf);
}

@font-face {
  font-family: 'Shrikhand';
  src: url(../font/Shrikhand-Regular.ttf);
}

@-webkit-keyframes appear {
  0% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

.appear_1 {
  -webkit-animation: 1s 0.5s appear;
          animation: 1s 0.5s appear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.appear_2 {
  -webkit-animation: 1s 750ms appear;
          animation: 1s 750ms appear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.appear_3 {
  -webkit-animation: 1s 1s appear;
          animation: 1s 1s appear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.img_resto {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 30% 50%;
     object-position: 30% 50%;
}

body {
  max-width: 760px;
  margin: auto;
  font-family: 'Roboto-Regular';
}

.logoPage {
  font-family: 'Shrikhand';
  font-size: 1.6em;
  position: absolute;
  top: -8px;
}

.headerAlign {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerPage {
  height: 50px;
  width: 100%;
  background-color: white;
}

.fa-arrow-left {
  color: #414141;
  position: absolute;
  left: 20px;
  top: 18px;
}

.fa-arrow-left:hover {
  color: #FF79DA;
}

.main_bloc {
  background-color: #EEEEEE;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: -60px;
  position: relative;
  z-index: 200;
}

.btn {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff79da), color-stop(#e86edb), color-stop(#cf64dc), color-stop(#b35cdc), to(#9356dc));
  background-image: linear-gradient(to bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
  border-radius: 30px;
  font-size: 0.8em;
  color: white;
  border: none;
  padding: 15px;
  -webkit-box-shadow: 0px 10px 23px -15px black;
          box-shadow: 0px 10px 23px -15px black;
  font-family: 'Roboto-Bold';
  font-weight: normal;
}

.btn:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
  -webkit-box-shadow: 10px 10px 23px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 10px 10px 23px -1px rgba(0, 0, 0, 0.2);
}

.bloc_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
  margin-top: -15px;
  padding-bottom: 20px;
}

.resto_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 15px;
  margin-right: 20px;
  padding-top: 5px;
}

.bigTitle {
  font-family: 'Shrikhand';
  font-size: 1.5em;
}

.heart {
  font-size: 1.2em;
}

.menu_title {
  color: #414141;
  font-size: 1.1em;
  margin-left: 15px;
  font-family: 'Roboto-Light';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.underline {
  -webkit-text-decoration: underline 3px #99E2D0;
          text-decoration: underline 3px #99E2D0;
  text-underline-position: under;
}

.all_repas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 15px;
  margin-right: 15px;
}

.menu_container {
  opacity: 0;
}

.plat {
  background-color: #fff;
  -webkit-box-shadow: 0px 10px 20px -10px #c2c2c2;
          box-shadow: 0px 10px 20px -10px #c2c2c2;
  border-radius: 15px;
  margin-bottom: 15px;
  width: 96%;
  min-height: 70px;
  max-height: 70px;
  position: relative;
  overflow: hidden;
}

.plat:hover .fa-check-circle {
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
  -webkit-transition: -webkit-transform 600ms ease-in-out;
  transition: -webkit-transform 600ms ease-in-out;
  transition: transform 600ms ease-in-out;
  transition: transform 600ms ease-in-out, -webkit-transform 600ms ease-in-out;
}

.plat:hover .checkCircle {
  opacity: 1;
  -webkit-transform: translateX(-80%);
          transform: translateX(-80%);
  -webkit-transition: -webkit-transform 450ms ease-in-out;
  transition: -webkit-transform 450ms ease-in-out;
  transition: transform 450ms ease-in-out;
  transition: transform 450ms ease-in-out, -webkit-transform 450ms ease-in-out;
}

.plat:hover .price {
  -webkit-transform: translateX(-370%);
          transform: translateX(-370%);
  -webkit-transition: -webkit-transform 550ms ease-in-out;
  transition: -webkit-transform 550ms ease-in-out;
  transition: transform 550ms ease-in-out;
  transition: transform 550ms ease-in-out, -webkit-transform 550ms ease-in-out;
}

.plat:hover .support {
  width: 60%;
  -webkit-transition: -webkit-transform 1s ease-in;
  transition: -webkit-transform 1s ease-in;
  transition: transform 1s ease-in;
  transition: transform 1s ease-in, -webkit-transform 1s ease-in;
}

.plat:hover .alignement h3 {
  width: 75%;
  -webkit-transition: -webkit-transform 1s ease-in;
  transition: -webkit-transform 1s ease-in;
  transition: transform 1s ease-in;
  transition: transform 1s ease-in, -webkit-transform 1s ease-in;
}

.plat h3, .plat .support {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.checkCircle {
  margin-right: 0px;
  opacity: 0;
  width: 20%;
  height: 100px;
  background-color: #99E2D0;
  font-size: 1.6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 330ms ease-in-out;
  transition: -webkit-transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out, -webkit-transform 330ms ease-in-out;
  position: absolute;
  top: -40px;
  right: -20%;
}

.fa-check-circle::before {
  content: "\f058";
  font-weight: bold;
  color: white;
}

.plat h3 {
  font-size: 1em;
  font-family: 'Roboto-Bold';
  font-weight: normal;
  margin-top: 15px;
}

.support {
  font-family: 'Roboto-Light';
  font-size: 0.9em;
}

.alignement {
  margin-left: 7px;
}

.text_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -25px;
  margin-right: 10px;
  position: relative;
  z-index: 150;
}

.price {
  font-family: 'Roboto-Bold';
  font-weight: normal;
  font-size: 0.8em;
}

footer {
  color: white;
  background-color: #414141;
  padding-top: 20px;
}

.logoDesign {
  font-family: 'Shrikhand';
  font-size: 1em;
  margin-left: 20px;
  margin-top: 0px;
  margin-bottom: 15px;
}

.footer_list {
  margin-left: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
}

.marginLine {
  font-size: 0.8em;
}

.fa-utensils {
  font-size: 0.8em;
  padding-right: 5px;
}

.fa-hands-helping {
  font-size: 0.65em;
  padding-right: 2.5px;
}

.footer_list, .all_resto {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer_list a {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 1024px) {
  body {
    max-width: 1400px;
    margin: auto;
  }
  .logoPage {
    font-size: 2em;
    top: -18px;
  }
  .fa-arrow-left {
    font-size: 1.5em;
    margin-left: 20px;
    top: 13px;
  }
  .resto_title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1.6em;
  }
  .menu_title {
    font-size: 1.6em;
  }
  .all_repas {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .plat {
    width: 400px;
    margin-top: 30px;
  }
  .plat:hover .support, .plat:active .support {
    width: 90%;
  }
}
/*# sourceMappingURL=style_page.css.map */