@font-face {
  font-family: 'Roboto-Regular';
  src: url(../font/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Roboto-Light';
  src: url(../font/Roboto-Light.ttf);
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url(../font/Roboto-Bold.ttf);
}

@font-face {
  font-family: 'Shrikhand';
  src: url(../font/Shrikhand-Regular.ttf);
}

/********** ANIMATION **********/
@-webkit-keyframes textCut {
  from {
    width: 100%;
  }
  to {
    width: 68%;
  }
}
@keyframes textCut {
  from {
    width: 100%;
  }
  to {
    width: 68%;
  }
}

@-webkit-keyframes titleCut {
  from {
    width: 100%;
  }
  to {
    width: 75%;
  }
}

@keyframes titleCut {
  from {
    width: 100%;
  }
  to {
    width: 75%;
  }
}

@-webkit-keyframes appear {
  0% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

/*********** APPEAR *********/
.appear_1 {
  -webkit-animation: 1s 0.5s appear;
          animation: 1s 0.5s appear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.appear_2 {
  -webkit-animation: 1s 750ms appear;
          animation: 1s 750ms appear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.appear_3 {
  -webkit-animation: 1s 1s appear;
          animation: 1s 1s appear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menu_container {
  opacity: 0;
}

/************* RESTAURANT IMAGE **********/
.img_resto {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 30% 50%;
     object-position: 30% 50%;
}

/********* BODY *********/
body {
  max-width: 760px;
  margin: auto;
  font-family: 'Roboto-Regular';
}

/******** HEADER *******/
.logoPage {
  font-family: 'Shrikhand';
  font-size: 1.6em;
  position: absolute;
  top: -8px;
}

.headerAlign {
  position: relative;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerPage {
  height: 50px;
  width: 100%;
  background-color: white;
}

/********** ARROW BACK HOME *********/
.fa-arrow-left {
  color: #414141;
  position: absolute;
  left: 20px;
  top: 18px;
  -webkit-transition: 750ms ease-in-out;
  transition: 750ms ease-in-out;
}

.fa-arrow-left:hover {
  color: #FF79DA;
}

.fa-arrow-left:active {
  -webkit-transform: rotate(8turn) scale(15);
          transform: rotate(8turn) scale(15);
}

/************ BLOC PAGE ***********/
.main_bloc {
  background-color: #EEEEEE;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: -60px;
  position: relative;
  z-index: 200;
}

/********** RESTAURANT TITLE **********/
.resto_title {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 15px;
  margin-right: 20px;
  padding-top: 5px;
}

.bigTitle {
  font-family: 'Shrikhand';
  font-size: 1.5em;
}

/********* HEART GRADIENT *********/
.cardHeart {
  position: relative;
}

.fa-heart {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0px;
  top: 0px;
  font-size: 1.5em;
  -webkit-transition: opacity 700ms ease-out;
  transition: opacity 700ms ease-out;
  cursor: pointer;
  font-size: 25px;
}

.heartFull::before {
  opacity: 0;
  content: "\f004";
  -webkit-transition: opacity 700ms ease-out;
  transition: opacity 700ms ease-out;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(180deg, #9356DC 0%, #FF79DA 100%);
  background-clip: border-box;
  font-variant: normal;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heart:hover .heartFull::before, .heart:active .heartFull::before {
  opacity: 1;
}

.heart:hover .heartEmpty, .heart:active .heartEmpty {
  opacity: 0;
}

.heart {
  font-size: 1.2em;
}

/******* MENU TITLE ********/
.menu_title {
  color: #414141;
  font-size: 1.1em;
  margin-left: 15px;
  font-family: 'Roboto-Light';
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

.underline {
  -webkit-text-decoration: underline #99E2D0;
          text-decoration: underline #99E2D0;
  text-underline-position: under;
}

/*********** ALL REPAS ( FLEX & MARGIN ) **********/
.all_repas {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 15px;
  margin-right: 15px;
}

/***************** BREAK WORD AND OVERFLOW HIDDEN *****************/
.plat h3, .plat .support {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/********* PLAT CARD ********/
.plat {
  background-color: #fff;
  -webkit-box-shadow: 0px 10px 20px -10px #c2c2c2;
          box-shadow: 0px 10px 20px -10px #c2c2c2;
  border-radius: 15px;
  margin-bottom: 15px;
  width: 96%;
  min-height: 70px;
  max-height: 70px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.plat:hover .fa-check-circle, .plat:active .fa-check-circle, .plat:focus .fa-check-circle {
  /*         <-----   ANIMATION CHECK CIRCLE */
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
  -webkit-transition: -webkit-transform 600ms ease-in-out;
  transition: -webkit-transform 600ms ease-in-out;
  transition: transform 600ms ease-in-out;
  transition: transform 600ms ease-in-out, -webkit-transform 600ms ease-in-out;
}

.plat:hover .checkCircle, .plat:active .checkCircle, .plat:focus .checkCircle {
  -webkit-transform: translateX(-110%);
          transform: translateX(-110%);
}

.plat:hover .support, .plat:active .support, .plat:focus .support {
  -webkit-animation: 750ms ease-in-out textCut;
          animation: 750ms ease-in-out textCut;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.plat:hover .alignement h3, .plat:active .alignement h3, .plat:focus .alignement h3 {
  -webkit-animation: 700ms ease-in-out titleCut;
          animation: 700ms ease-in-out titleCut;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.plat h3 {
  font-size: 1em;
  font-family: 'Roboto-Bold';
  font-weight: normal;
  margin-top: 15px;
}

.support {
  font-family: 'Roboto-Light';
  font-size: 0.9em;
  width: 100%;
}

.alignement {
  margin-left: 7px;
}

.text_row {
  display: flex;
  margin-top: -25px;
  margin-right: 10px;
}

.price {
  font-family: 'Roboto-Bold';
  font-weight: normal;
  font-size: 0.8em;
  padding: 5px;
}

/***************** CHECK CIRCLE ***************/
.checkCircle {
  margin-right: 0px;
  width: 25%;
  height: 100px;
  background-color: #99E2D0;
  font-size: 1.6em;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 750ms ease-in-out;
  transition: -webkit-transform 750ms ease-in-out;
  transition: transform 750ms ease-in-out;
  transition: transform 750ms ease-in-out, -webkit-transform 750ms ease-in-out;
  position: absolute;
  top: -15px;
  right: -30%;
}

.fa-check-circle::before {
  content: "\f058";
  font-weight: bold;
  color: white;
  position: relative;
  right: 1.5px;
}

/************** BUTTON ***********/
.btn {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff79da), color-stop(#e86edb), color-stop(#cf64dc), color-stop(#b35cdc), to(#9356dc));
  background-image: linear-gradient(to bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
  border-radius: 30px;
  font-size: 0.8em;
  color: white;
  border: none;
  padding: 15px;
  -webkit-box-shadow: 0px 10px 23px -15px black;
          box-shadow: 0px 10px 23px -15px black;
  font-family: 'Roboto-Bold';
  font-weight: normal;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

.btn:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
  -webkit-box-shadow: 10px 10px 23px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 10px 10px 23px -1px rgba(0, 0, 0, 0.2);
}

.btn:active {
  -webkit-animation: 500ms appear;
          animation: 500ms appear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.bloc_btn {
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
  margin-top: -15px;
  padding-bottom: 20px;
}

/********** FOOTER *********/
footer {
  color: white;
  background-color: #414141;
  padding-top: 20px;
}

.logoDesign {
  font-family: 'Shrikhand';
  font-size: 1em;
  margin-left: 20px;
  margin-top: 0px;
  margin-bottom: 15px;
}

.footer_list {
  margin-left: 20px;
  display: flex;
  padding-bottom: 20px;
}

.marginLine {
  font-size: 0.8em;
}

.fa-utensils {
  font-size: 0.8em;
  padding-right: 5px;
}

.fa-hands-helping {
  font-size: 0.65em;
  padding-right: 2.5px;
}

.footer_list, .all_resto {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer_list a {
  text-decoration: none;
  color: white;
  -webkit-transition: 550ms ease-in-out;
  transition: 550ms ease-in-out;
}

.footer_list a:hover, .footer_list a:active {
  color: #FF79DA;
}

/************ DESKTOP VERSION **************/
@media screen and (min-width: 1024px) {
  body {
    max-width: 1400px;
    margin: auto;
  }
  .logoPage {
    font-size: 2em;
    top: -18px;
  }
  .fa-arrow-left {
    font-size: 1.5em;
    margin-left: 20px;
    top: 13px;
  }
  .resto_title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1.6em;
  }
  .menu_title {
    font-size: 1.6em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .all_repas {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .plat {
    width: 400px;
    margin-top: 30px;
  }
}
/*# sourceMappingURL=style_page.css.map */