$purple: #9356DC;
$pink: #FF79DA;
$mint: #99E2D0;


@font-face {
    font-family: 'Roboto-Regular';
    src: url(../font/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-Light';
    src: url(../font/Roboto-Light.ttf);
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url(../font/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Shrikhand';
    src: url(../font/Shrikhand-Regular.ttf);
}

.loading__spinner
{
	animation: fadeout 3000ms;
	animation-fill-mode: forwards;
	background-color: rgba(255,255,255,0.7);
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100000;
}

@keyframes fadeout 
{
  0% {opacity:1; transform: scale(1,1);}
  90% {opacity: 1;}
  99% {transform:scale(1,1);}
  100% {opacity:0; transform: scale(0,0);}
}

.spinner {
  margin: 100px auto 0;
  width: 200px;
  text-align: center;
}

.spinner > div {
  width: 50px;
  height: 50px;
  background-color: $purple;

  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { transform: scale(0) }
  40% { transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0);
    transform: scale(0);
  } 40% { 
    transform: scale(1.0);
    transform: scale(1.0);
  }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { transform: scaleY(0.4) }  
  20% { transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    transform: scaleY(1.0);
  }
}

  
body {
    max-width: 760px;
    margin: auto;
    font-family: 'Roboto-Regular';
    scroll-behavior: smooth;
}
  
.restaurant img {
    width: 100%;
    max-height: 170px;
    min-height: 130px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
  
header, .location, .bloc_btn, .all_resto {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
header {
    height: 60px;
    width: 100%;
    background-color: white;
}
  
header .header_logo {
    max-width: auto;
    height: 50%;
}

.headerAlign {
    position: relative;
}

.location {
    color: rgb(65, 65, 65);
    height: 40px;
    background-color: #E0E0E0;
    box-shadow: inset 0px 1px 3px rgb(194, 194, 194);
}
  
.location i {
    font-size: 1em;
}
  
.title_loc {
    font-size: 1em;
    margin-top: 0px;
    margin-left: 15px;
}
  
.align_loc, .footer_list {
    display: flex;
}

.accroche, .all_block {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
  
.accroche, .restaurant {
    background-color: #EEEEEE;
}

.accroche {
    height: 235px;
}
  
.accrocheTitle {
    margin-bottom: 0px;
    padding: 0px 40px;
    font-family: 'Roboto-Bold';
    font-weight: normal;
}
  
.accrocheSentence {
    margin-top: 10px;
    font-family: 'Roboto-Light';
    font-weight: lighter;
    padding: 0px 15px;
}
  
.btn {
    background-image: linear-gradient(to bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
    border-radius: 30px;
    font-size: 0.8em;
    color: white;
    border: none;
    padding: 15px;
    box-shadow: 0px 10px 23px -15px black ;
    font-family: 'Roboto-Bold';
    font-weight: normal;
    &:hover {
		filter: brightness(1.1);
		box-shadow: 10px 10px 23px -1px rgba(0,0,0,0.20);
	}
}

.highTitle {
    font-family: 'Roboto-Bold';
    font-weight: normal;
    font-size: 1.2em;
    margin-left: 20px;
    margin-top: 28px;

}

.fonction {
    padding-bottom: 30px;
}

.block_fonction {
    display: flex;
    align-items: center;
    background-color: #F0F0F0;
    width: 85%;
    height: 70px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 10px 20px -10px rgb(194, 194, 194) ;
}


.fonction_text {
    margin-right: 35px;
    margin-left: 25px;
}

.fonction_number {
    background-color: #9356DC;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    color: white;
    margin-left: -7px;
    margin-right: 15px;
}

.restaurant {
    padding-top: 15px;
    padding-bottom: 50px;
}

.card {
    position: relative;
    color: black;
    width: 90%;
    max-height: 250px;
    background-color: white;
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: 0px 10px 20px -10px rgb(182, 182, 182) ;
}

.link {
    color: black;
    text-decoration: none;
}

.blockNew {
    position: absolute;
    background-color: #99E2D0;
    color: rgb(24, 155, 68);
    padding: 5px 10px;
    right: 15px;
    font-size: 0.8em;
}

.restoName {
    margin: 10px;
    margin-left: 15px;
    font-size: 1.1em;
    font-family: 'Roboto-Bold';
    font-weight: normal;
}

.restoLoc {
    margin-left: 15px;
    margin-top: -8px;
    font-family: 'Roboto-Light';
    font-size: 1em;
    margin-bottom: 10px;
}

.cardHeart {
    position: relative;
}

.fa-heart {
    position: absolute;
    right: 20px;
    top: -50px;
    font-size: 1.5em;
    transition: opacity 500ms ease-out;
    cursor: pointer;
    font-size: 25px;
    z-index: 90;
}

.heartFull{
    opacity: 0;
    background: linear-gradient(180deg, #9356DC 0%, #FF79DA 100%);
	-webkit-text-fill-color: transparent;
    font-weight: bold;
}

.heart{
    &:hover {
        .heartEmpty{
            opacity: 0;
        }
        .heartFull{
            opacity: 1;
        }
    }
}



.bloc_btn {
    height: 100px;
}

footer {
    color: white;
    background-color: rgb(65, 65, 65);
    padding-top: 20px;
}

.logoDesign {
    font-family: 'Shrikhand';
    font-size: 1.2em;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 15px;
}

.footer_list {
    margin-left: 20px;
    justify-content: space-between;
    padding-bottom: 20px;
}

.fa-utensils {
    font-size: 0.8em;
    padding-right: 5px;
}

.fa-hands-helping {
    font-size: 0.6em;
    padding-right: 2.5px;
}

.marginLine {
    margin-bottom: 5px;
}

.footer_list, .all_resto {
    flex-direction: column;
}

.footer_list a {
    text-decoration: none;
    color: white;
}

@media screen and (min-width: 1024px) {
    body {
        max-width: 1400px;
        margin: auto;
    }

    .all_block {
        flex-direction: row;
        justify-content: space-around;
    }

    .highTitle {
        margin-bottom: 60px;
        font-size: 1.8em;
        display: flex;
        justify-content: center;
    }

    .block_fonction {
        position: relative;
        width: 250px;
        height: 400px;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: center;
        margin: 0px;
    }

    .fonction_number {
        position: absolute;
        display: flex;
        margin: 0px;
        top: -20px;
        height: 50px;
        width: 50px;
        box-shadow: 1px 1px 1px grey;
        align-items: center;
        justify-content: center;
        font-size: 1.6em;
    }

    .iconeSize {
        font-size: 2em;
        margin-top: 20px;
    }

    .fonction_text {
        font-size: 1.6em;
    }

    .all_resto {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        width: 90%;
        margin: auto;
    }
    .card {
        width: 480px;
        height: 450px;
        margin-bottom: 10px;
    }
}